@model  List<Diplom1.Models.Person>


<h1>Сотрудники компании</h1>

<form asp-action="Index" method="get">
    <div class=" form-group">
        <label for="SearchString">Поиск</label>
        <input class="text" name="SearchString" value="@ViewData["Filtr"] " />
        <input type="submit" value="Поиск" class="btn btn-primary" />
        <!--<div class="input-group-addon">-->
        @*<button type="submit" class="btn btn-primary">Поиск</button>*@
        <!--</div>-->
    </div>
</form>
@*<form method="get">
        <div class="form-inline">
            <label class="control-label">Фамилия: </label>
            @Html.DropDownList("surename", Model.Surname as SelectList,
                        htmlAttributes: new { @class = "form-control" })
            <label class="control-label">Имя: </label>
            @Html.DropDownList("name", Model.Name as SelectList,
                        htmlAttributes: new { @class = "form-control" })
            <input type="submit" value="Фильтр" class="btn btn-default" />
        </div>

    </form>*@
@Html.ActionLink("Добавить", "Create")
<table class="table table-bordered">
    <thead>
        <tr>
            <th>id</th>
            <th>Фамилия</th>
            <th>Имя</th>
            <th>Отчество</th>
            <th>Телефон</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>

                    @Html.DisplayFor(modelItem => item.Id)

                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Otchestvo)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Surname)
                </td>
                <td>
                    @Html.ActionLink("Редактировать", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Удалить", "Delete", new { id = item.Id })
                </td>


            </tr>

        }
    </tbody>
</table>


