@using Diplom1.Models; 
@model  List<Diplom1.Models.Person>


<h1>Сотрудники компании</h1>

<form method="get" class="mb-3">
    <div class=" row input-group">
        <input  type="text" name="search" id="search"  class ="form-control" asp-for="SerchTerm" />
        <div class="input-group-btn">
            <button type="submit" class="btn btn-primary">Поиск</button>
        </div>
    </div>
</form>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>id</th>
            <th>Фамилия</th>
            <th>Имя</th>
            <th>Отчество</th>
            <th>Телефон</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        { 
        <tr>
            <td>

                @Html.DisplayFor(modelItem => item.Id)

            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Otchestvo)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Surname)
            </td>


            <td>
                @Html.DisplayFor(modelItem => item.Telephone)
            </td>

            <td>
                @Html.ActionLink("Редактирование", "EditPerson", new {  })
            </td>
            <td>
                @Html.ActionLink("Добавление", "AddPerson", new {  })
            </td>
            <td>
                @Html.ActionLink("Удаление", "DeletePerson", new {  })
            </td>
        </tr>
            @*<tr>
                <td>@item.Id</td>
                <td>@item.Surname</td>
                <td>@item.Name</td>
                <td>@item.Otchestvo</td>
                <td>@item.Telephone</td>*
            </tr>*@
        }
    </tbody>
</table>


