@model Diplom1.Models.Base


<h1>Рабочий стол</h1>





<h4>@Model.Question</h4>


<dl class="dl-horizontal">
    <dt>Вопрос</dt>
    <dd>@Model.Question1</dd>
    <dt>Ответ</dt>
    <dd>@Model.Answer</dd>
</dl>


@*<a href="/Bases/All">Часто задаваемые вопросы<</a>*@
@Html.ActionLink("Часто задаваемые вопросы", "All")


<dl class=" dl-horizontal">
    @Html.ActionLink("О компании", "About")
</dl>
