@model Diplom1.Models.Base


<h1>Рабочий стол</h1>


<p style="font-family:'Times New Roman', sans-serif">
    <span style="font-size:320%">

        <dd>@Model.greeting</dd>

    </span>

</p>




<dl class=" dl-horizontal">
    <dd>@Model.Question1</dd>

    <dd>@Model.Answer</dd>

    <dd>@Model.Answer2</dd>

    <dd>@Model.Answer3</dd>
</dl>
    
    



@*<a href="/Bases/All">Часто задаваемые вопросы<</a>*@
@Html.ActionLink("Часто задаваемые вопросы", "All")


<dl class=" dl-horizontal">
    @Html.ActionLink("О компании", "About")
</dl>
