@model  List<Diplom1.Models.Person>

@{
    ViewBag.Title = "Главная страница";
}

<div class="jumbotron">
    <h1>Сотрудники компании</h1>
</div>

<div class="row">
    
    
    
</div>

<h2>Сотрудники</h2>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>id</th>
            <th>Фамилия</th>
            <th>Имя</th>
            <th>Отчество</th>
            <th>Телефон</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>@item.Id</td>
            <td>@item.Surname</td>
            <td>@item.Name</td>
            <td>@item.Otchestvo</td>
            <td>@item.Telephone</td>*
        </tr>
        }
    </tbody>
</table>